 html {
     background-color: rgb(1, 121, 111);
     /** background: url(background4.jfif);*/
     /*opacity: 0.8;*/
     background-repeat: no-repeat;
     object-fit: cover;
     color: rgb(1, 121, 111);
     margin-top: 2vh;
 }
 
 body {
     display: grid;
     place-items: center;
     font-family: 'Montserrat Alternates', sans-serif;
     line-height: 1.5em;
     font-size: 12px;
     margin: 0px;
 }
 
 .container {
     width: 90%;
     margin: 2vh;
     padding: 0.5rem;
     /**de 2 ori size-ul de pe body: 2*16px*/
     /**1vh=1% din inatltimea totala a ecranului */
     background-color: rgb(255, 250, 250);
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.4);
     /*opacity: 0.9;*/
     border-radius: 2rem;
     font-size: clamp(0.2rem, 1vw, 0.7rem);
     /**minimul sa fie 1rem, daca scade valoarea mai jos de 2vw
     ramane minimul la 1 rem, daca va creste, va trece la maximul de 2 rem*/
     line-height: 1.5rem;
 }
 
 input {
     cursor: pointer;
     border: none;
     border-radius: 5px;
     text-align: center;
     opacity: .8;
     margin: 0 1em;
     font-size: 10px;
     padding: .5em;
     background-color: rgb(165, 230, 250);
 }
 
 input:focus {
     outline: none;
 }
 
 .buttons {
     display: flex;
     justify-content: space-around;
     margin-top: 1em;
 }
 
 .buttons .btn {
     width: 30%;
     border: none;
     background-color: transparent;
     cursor: pointer;
 }
 
 #NameComp,
 #symb,
 #descrip,
 h2 {
     text-align: center;
     display: block;
     margin-top: 2vh;
     font-size: 2em;
 }
 
 h2 {
     color: rgb(2, 66, 61);
 }
 
 img {
     width: 25em;
     height: auto;
     display: flex;
     float: left;
     margin: 1vw;
     border-radius: 0.5rem;
 }
 
 #vol {
     width: 100%;
     text-align: center;
 }
 
 #MkChart {
     margin-top: 3vh;
     margin-bottom: 4vh;
 }
 
 #MkChart2 {
     margin-bottom: 3vh;
 }
 
 .boxparent {
     grid-template-columns: repeat(2, 1fr);
     display: grid;
     width: 100%;
 }
 
 .boxchild {
     border: 2px solid rgba(1, 121, 111, 0.3);
     border-radius: 0.5rem;
     margin: 1em 1vw;
     padding: 2%;
     font-size: clamp(.2rem, 2vw, 1rem);
     width: 92%;
 }
 
 .boxparent2 {
     box-sizing: border-box;
     display: grid;
     margin: 2em;
 }
 
 .boxchild2 {
     float: left;
     height: auto;
     border-color: rgba(1, 121, 111, 0.3);
     border-width: 2px;
     border-style: solid;
     border-radius: 0.5rem;
     margin: 2vw;
     padding: 2%;
 }
 
 .result {
     justify-content: center;
     padding: 1em;
 }
 
 .options {
     display: block;
     width: 100%;
     text-align: center;
 }
 
 #SearchForm {
     color: rgb(1, 121, 111);
 }
 
 .btn:hover {
     transform: scale(1.7);
     transition: 0.2s;
 }
 
 input {
     color: rgb(1, 121, 111);
     background-color: rgb(255, 250, 250);
     font: 1em/1.25em Arial;
     text-transform: uppercase;
 }
 
 @media(max-width: 500px) {
     .container {
         margin: 0;
         font-size: clamp(0.2rem, 1vw, 1rem);
         line-height: 3em;
     }
 }
 
 @media(max-width:500px) {
     input {
         display: grid;
         grid-template-columns: 70vw;
         margin: 1vh;
     }
 }
 
 @media(max-width: 500px) {
     canvas {
         width: 7vw;
         height: 20vh;
         margin-top: 2vh;
     }
 }
 
 @media(min-width: 500px) {
     canvas {
         width: 10vw;
         height: 30vh;
         margin-top: 2vh;
     }
 }
 
 @media (min-width: 500px) {
     .boxparent {
         display: grid;
         grid-template-columns: 30vw;
         width: 100%;
     }
 }
 
 @media(min-width: 500px) {
     .boxchild {
         font-size: clamp(0.2rem, 1vw, 1rem);
         line-height: 2em;
         margin: 2vh 3vw;
         width: 80%;
     }
 }
 
 @media(min-width: 500px) {
     body {
         display: grid;
     }
 }
 
 @media ( min-width: 500px) {
     .boxparent {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         width: 100%;
     }
 }
 
 footer {
     text-align: center;
 }
 
 #loading {
     position: fixed;
     display: block;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     text-align: center;
     opacity: 0.5;
     transition: 1s;
     background-color: rgb(255, 250, 250);
     z-index: 99;
 }
 
 #loading-image {
     position: absolute;
     top: 40vh;
     left: 45vw;
     z-index: 100;
     width: 5em;
 }
 
 #loading.hidden {
     opacity: 0;
     visibility: hidden;
 }